* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(6, 181, 181);

}

.wrapper h1{
    font-size: 3rem;
}

.wrapper form input {
    width: 300px;
    height: 50px;
    border: 1px solid #cbc322;
    border-radius: 5px;
    margin: 0.7rem;
    padding: 0 .7rem;
    font-size: 1rem;
}

.wrapper form button {
    width: 7rem;
    height: 3rem;
    border: 1px solid #baf;
    border-radius: .3rem;
    margin: .7rem;
    font-size: 1rem;
    background: rgb(246, 204, 18);
    color: #fff;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin: .7rem .7rem .7rem -7.2rem;
    padding: .7rem;
}

ul li {
    list-style-type: zero;
    font-size: 1.5rem;
    color: #fafafa;
    margin: 0 1rem;
}

ul li a {
    text-decoration: none;
    color: #880732;
    margin: 0 1rem;
}

ul li.completed {
    text-decoration-line: line-through;
}