*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.event{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.event button{
    background-color: #faa361;
    color: #fff;
    font-size: 1rem;
    margin: 2rem 2.3rem;
    padding: .8rem;
    border-radius: 5px;
    border: 3px solid #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.event button:hover{
    /* background: rgba(200, 10, 40, 0.3); */
    background: #345fff;
}
.event p{
    background-color: #00ffff;
    color: #fff;
    padding: .5rem .8rem;
    border-radius: 5px;
    font-size: 1.5rem;
}